.profile__edit-button {
    position: absolute; 
    /* Я не могу удалить position: absolute т.к. это необходимо для сохранения верстки */
    /* На макете (figma) текст выравнивается по центру на мобильном разрешении, а кнопка редактирования находиться в смещенном относительно текста состоянии */
    top: 15px;
    right: -42px;
    margin: 0;
    border: none;
    background-color: #000;
    background-image: url('../../../images/edit_button.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 720px) {
    .profile__edit-button {
        top: 8px;
        right: -34px;
        width: 18px;
        height: 18px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
}